---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';

const pageTitle = "Home Page";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";  
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style>
        h1 {
          color: purple;
          font-size: 4rem;
        }
        .skill {
            color: var(--skillColor);
            font-weight: bold;
        }
        p,ul,h3,ol{
          color: aliceblue
        }
        body{
          justify-content: center;
          background-position: center
        }
        .hero-image{
          width: 10%;
          align-items: center;
          height: 5%;
        }
      </style>
  </head>
  <body>
    <Navigation/><Footer/>
    <h1>{pageTitle}</h1>
    <center><img src="/logo.png" alt="Example Image" class="hero-image"/></center>
    <h2>... and my new Astro site!</h2>
    <h2>Welcome to Astro!</h2>
        <center><p>Astro is a modern web framework that makes it easy to build fast, content-focused websites. With Astro, you can use your favorite UI components and tools while leveraging the power of static site generation.</p>

        <h3>Why Choose Astro?</h3>
        <ul>
          <li><strong>Performance:</strong> Astro delivers exceptional performance by default, thanks to its zero JavaScript runtime and optimized static site generation.</li>
          <li><strong>Flexibility:</strong> Use React, Svelte, Vue, or plain HTML and CSS in your Astro project. Astro supports multiple frameworks out of the box.</li>
          <li><strong>Simplicity:</strong> Astro’s straightforward and intuitive API makes it easy to get started and stay productive.</li>
          <li><strong>Modern Tooling:</strong> Enjoy the benefits of modern development tools like Vite for fast builds and hot module replacement.</li>
        </ul>

        <h3>Key Features</h3>
        <ul>
          <li><strong>Island Architecture:</strong> Astro’s unique island architecture allows you to load only the JavaScript you need, where you need it.</li>
        </ul>
        </center>
  
      </body>
</html>